.level-news-list ul  em{
	font-weight: normal;
    font-size: 14px;
    color: #ff6600;
}
.level-news-list ul .title em{
	font-weight: normal;
    font-size: 16px;
    color: #ff6600;
}
.eventcountry{float:right;margin-left:4px;}
.portrait img{
	width:100%;
	height:100%
}
.btn-serch{
	width: 80px;
    height: 33px;
    line-height: 36px;
    font-size: 14px;
}
.chart-bg{
	background: url(../../images/chart-bg.png) no-repeat;
	padding: 3px;
}

/****��ҳ***/
.biu-paging ul .prev a{}
.biu-paging ul .next a{}
.biu-paging ul .disabled a{cursor:not-allowed; }
.biu-paging ul .disabled a:hover{width:24px;height:24px;float:left;margin-left:12px;text-align:center;color:#6a6c6f;background:#ecedf1;border-radius:5px;font-size:12px;line-height:24px;}


.list-left{
	min-height: 462px;
}

.left-list ul .inbtn .current{
	min-width: 80px;
    height: 26px;
    background: #3382ee;
    float: left;
    border-radius: 5px;
    text-align: center;
    line-height: 26px;
    color: #fff;
    padding-left: 5px;
    padding-right: 8px;
}

.right-list ul .more .more-show ul li p .current{
	background: #3382ee;
	color: #fff;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    height: 26px;
    cursor: pointer;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  background: url(../../images/unchecked.png) no-repeat;
  background-position: 0 0;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: inline-block;
  *display: inline;
}

input[type="checkbox"]:checked {
  background:url(../../images/checked.png) no-repeat;
}


input[type="checkbox"][disabled] {
  background:url(../../images/unchecked.png) no-repeat;
}

input[type="checkbox"][disabled]:checked {
  background:url(../../images/checked.png) no-repeat;
}
.eventSpan{
	margin-left:19px;
}

.sentiment-detail-list-conter-news{width:100%;float:left;}
.sentiment-detail-list-conter-news ul{width:100%;float:left;border-bottom:1px dashed #dcddde;padding-bottom:6px;}
.sentiment-detail-list-conter-news ul li{float:left;font-size:14px;line-height:25px;margin-top:12px;margin-right:6px;}
.sentiment-detail-list-conter-news ul li a{font-size:14px;color:#333}
.sentiment-detail-list-conter-news .bordernone{border-bottom:none;}
.sentiment-detail-list-conter-news ul .i-color{color:#999}
.sentiment-detail-list-conter-news ul .date{float:right;color:#999}
.sentiment-detail-list-conter-news ul .block{width:16px;height:16px;text-align:center;line-height:16px;color:#fff;border-radius:3px;margin:15px 6px 0 0;font-size:12px;}
.sentiment-detail-list-conter-news ul .blue{background:#b2d1e8;}
.sentiment-detail-list-conter-news ul .orange{background:#f3820b}
.sentiment-detail-list-conter-news ul .yellow{background:#fce630}
.sentiment-detail-list-conter-news ul .red{background:#cd2009}
.sentiment-detail-list-conter-news ul .ash{background:#666}
.ico_user {
    background: url(../../images/menu2.png) no-repeat;
    width: 34px;
    height: 34px;
    display: inline-block;
    overflow: hidden;
}